# /etc/systemd/system/threepics-update.service
[Unit]
Description=Run threepics auto-update script

[Service]
Type=oneshot
ExecStart=/usr/local/bin/threepics_update.py
