Package: threepics-dashboard
Version: ${VERSION}
Section: base
Priority: optional
Architecture: all
Depends: nodejs, npm, chromium-browser, openbox, git, cron, xinit, x11-xserver-utils, libx11-6, libxext6, vim, python3, python3-pip, python3-venv, unclutter, fonts-noto-color-emoji
Maintainer: Björn Becker <bjoern.becker@mailbox.org
Description: Dashboard für den Threepics-Raspberry Pi mit Kiosk-Modus und Systemdiensten.
